# new update
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: guestbook
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: https://github.com/igstbagusdharmaputra/apps-demo-applicationset.git
      revision: main
      files:
      - path: "config/*.yaml"
  template:
    metadata:
      name: '{{appname}}'
    spec:
      project: '{{projectname}}'
      source:
        chart: certmanager
        repoURL: "https://charts.jetstack.io"
        targetRevision: v1.9.1
        helm:
          releaseName: certmanager
          valueFiles:
          - values.yaml
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: guestbook